{% extends "admin/core/base.html" %}
{% load foundation %}
{% load static %}
{% load securitytags %}
{% load files %}
{% load i18n %}
{% load bool_fa %}

{% block title %}Back Content Submission{% endblock %}


{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url 'bc_index' %}">Back Content Plugin</a></li>
    <li>{% if article.title %}{{ article.safe_title }}{% else %}New Article{% endif %}</li>
{% endblock breadcrumbs %}

{% block body %}
    <section class="content">
        <div class="row expanded">
            <div class="large-12 columns box">
                <div class="title-area">
                    <h2 id="section-one">1. Article Metadata</h2>
                </div>
                <div class="content">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="large-12 columns">
                            <label for="id_title">{% trans "Title" %}</label>
                            {{ article_form.title }}
                            {{ article_form.title.errors }}
                        </div>
                        <div class="large-12 columns">
                            <label for="id_abstract">
                                {% trans "Abstract" %}{% if form.abstract.field.required %}*{% endif %}</label>
                            {{ article_form.abstract }}
                            {{ article_form.abstract.errors }}
                        </div>
                        <div class="large-4 columns">
                            <label for="id_language">{% trans "Language" %}</label>
                            {{ article_form.language }}
                            {{ article_form.language.errors }}
                        </div>
                        <div class="large-4 columns">
                            <label for="id_section">{% trans "Section" %}</label>
                            {{ article_form.section }}
                            {{ article_form.section.errors }}
                        </div>
                        <div class="large-4 columns error">
                            <label for="id_license">{% if article_form.license.errors %}
                                <span style="color: red;">{% endif %}{% trans "License" %}
                                {% if article_form.license.errors %}</span>{% endif %}
                                {% if article_form.license.field.required %}*{% endif %}</label>
                            {{ article_form.license }}
                            {{ article_form.license.errors }}
                        </div>
                        <div class="large-12 columns">
                            <label for="id_keywords">Keywords</label>
                            <input type="text" id="id_keywords" name="keywords" value="
                                    {% if article_form.cleaned_data.keywords %}{{ article_form.cleaned_data.keywords }}{% else %}{% for keyword in article.keywords.all %}{{ keyword.word }}{% if not forloop.last %},{% endif %}{% endfor %}{% endif %}"/>
                            Hit Enter to add a new keyword.
                        </div>

                        {% include "admin/elements/submission/additional_fields.html" with form=article_form additional_fields=additional_fields %}

                        <div class="large-12 columns">
                            <button class="success button pull-right" type="submit" name="save_section_1"><i
                                    class="fa fa-check">&nbsp;</i>{% trans "Save Section 1" %}
                            </button>
                        </div>
                    </form>
                </div>
                <div class="title-area">
                    <h2 id="section-two">2. Article Authors</h2>
                </div>
                <div class="content">
                    <div class="large-12 columns">
                        <p>{% trans "You can add an author by clicking the button below. This will open a popup modal for you to complete their details. If you do not have a legitimate email address for this author use @journal.com as a prefix for their email address and Janeway will ignore it." %}</p>
                        <a href="#" data-open="author" class="small success button">{% trans "Add New Author" %}</a>
                        {% include "back_content/elements/add_new_author.html" %}
                        <p>{% trans "If you know of an existing author, you can search for them." %}</p>
                        <a href="{% url 'bc_article_authors' article.pk %}" class="small success button">Search Accounts for Authors</a>
                    </div>
                    <div class="large-12 columns">
                        <h4>{% trans "Current Authors" %}</h4>
                        {% include "elements/current_authors.html" %}
                    </div>
                </div>
                <div class="title-area">
                    <h2 id="section-three">3. Galleys</h2>
                </div>
                <div class="content">
                    <table class="table table-bordered table-condensed small">
                        <tr style="text-align: left">
                            <th>Label</th>
                            <th width="25%">Filename</th>
                            <th>Public</th>
                            <th>Type</th>
                            <th>Edit</th>
                            <th>Download</th>
                            <th>Replace</th>
                            <th>History</th>
                            <th>Create PDF</th>
                            <th>Create EPUB</th>
                        </tr>
                        {% for galley in galleys %}
                            {% can_view_file galley.file as can_view_file_flag %}
                            {% can_edit_file galley.file article as can_edit_file_flag %}
                            {% can_view_file_history galley.file article as can_view_file_history_flag %}
                            <tr>
                                <td>{{ galley.label }}</td>
                                <td>{{ galley.file.original_filename|truncatechars:40 }} {% if galley.label == 'XML' %}
                                    &nbsp;
                                    <small><a target="_blank"
                                              href="{% url 'bc_preview_xml_galley' article.pk galley.pk %}"><i
                                            class="fa fa-search" aria-hidden="true">&nbsp;</i>Preview</a>
                                    </small>{% endif %}</td>
                                <td>{{ galley.public|bool_fa }}</td>
                                <td>Galley</td>
                                <td><a href="{% url 'pm_edit_galley' article.pk galley.pk %}" class="fa fa-edit"></a>
                                </td>
                                <td>{% if can_view_file_flag %}
                                    <a href="{% url 'article_file_download' 'id' article.pk galley.file.pk %}"><i
                                            class="fa fa-download">&nbsp;</i></a>{% endif %}
                                </td>
                                <td>{% if can_edit_file_flag %}
                                    <a href="{% url 'article_file_replace' 'id' article.pk galley.file.pk %}?return={{ request.path|urlencode }}"><i
                                            class="fa fa-cloud-upload">&nbsp;</i></a>{% endif %}
                                </td>
                                <td>{% if can_view_file_history_flag %}
                                    <a href="{% url 'file_history' article.pk galley.file.pk %}?return={{ request.path|urlencode }}"><i
                                            class="fa fa-history">
                                        &nbsp;</i></a>{% endif %}
                                </td>
                                <td>
                                    {% if galley.file.mime_type == 'application/xml' and not galley.has_missing_image_files %}
                                        <a href="{% url 'cassius_generate' galley.pk %}?return={{ request.path|urlencode }}">
                                            <i class="fa fa-file-text-o">&nbsp;</i>
                                        </a>
                                    {% elif not galley.file.mime_type == 'application/xml' %}
                                        Function for XML only.
                                    {% elif galley.file.mime_type == 'application/xml' and galley.has_missing_image_files %}
                                        <p><span data-tooltip aria-haspopup="true" class="has-tip top"
                                                 data-disable-hover="false"
                                                 tabindex="2"
                                                 title="{% has_missing_supplements galley %}">Missing Supplements</span>
                                        </p>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if galley.file.mime_type == 'application/xml' and not galley.has_missing_image_files %}
                                        <a href="{% url 'epub_generate' galley.pk %}?return={{ request.path|urlencode }}">
                                            <i class="fa fa-book">&nbsp;</i>
                                        </a>
                                    {% elif not galley.file.mime_type == 'application/xml' %}
                                        Function for XML only.
                                    {% elif galley.file.mime_type == 'application/xml' and galley.has_missing_image_files %}
                                        <p><span data-tooltip aria-haspopup="true" class="has-tip top"
                                                 data-disable-hover="false"
                                                 tabindex="2"
                                                 title="{% has_missing_supplements galley %}">Missing Supplements</span>
                                        </p>
                                    {% endif %}
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="9">No galleys have been uploaded.</td>
                            </tr>
                        {% endfor %}
                    </table>
                    <a class="button success float-right" data-open="uploadbox"><i class="fa fa-cloud-upload">
                        &nbsp;</i>Upload a new galley</a>

                    <div class="title-area">
                        <h2 id="section-four">4. Publication Info</h2>
                    </div>
                    <div class="content">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="large-4 columns">
                                {{ pub_form.date_published|foundation }}
                            </div>
                            <div class="large-4 columns">
                                {{ pub_form.date_accepted|foundation }}
                            </div>
                            <div class="large-4 columns">
                                {{ pub_form.render_galley|foundation }}
                            </div>
                            <div class="large-4 columns">
                                {{ pub_form.primary_issue|foundation }}
                            </div>
                            <div class="large-4 columns">
                                {{ pub_form.page_numbers|foundation }}
                            </div>
                            <div class="large-4 columns">
                                <br/>
                                {{ pub_form.peer_reviewed|foundation }}
                            </div>
                            <div class="large-12 columns">
                                {% if article and article.date_published %}
                                <p>More Pub Info is available on the <a href="{% url 'publish_article' article.pk %}">Pre Publication Checklist</a>.</p>
                                {% endif %}
                            </div>
                            <div class="large-12 columns">
                                <button class="success button pull-right" type="submit" name="save_section_4"><i
                                        class="fa fa-check">&nbsp;</i>{% trans "Save Section 4" %}</button>
                            </div>
                        </form>
                    </div>
                    <div class="title-area">
                        <h2 id="section-five">5. Remote</h2>
                    </div>
                    <div class="content">
                        <p>If your article is remote, you can fill the required details here. If the remote article has
                            a DOI, you should use it for full resolution. .</p>
                        <form method="POST">
                            {% csrf_token %}
                            <div class="row expanded">
                                <div class="large-6 columns">
                                    {{ remote_form.is_remote|foundation }}
                                </div>
                                <div class="large-6 columns">
                                    {{ remote_form.remote_url|foundation }}
                                </div>
                                <div class="large-12 columns">
                                    <button class="success button pull-right" type="submit" name="save_section_5"><i
                                            class="fa fa-check">&nbsp;</i>{% trans "Save Section 5" %}</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="title-area">
                        <h2>6. Publish</h2>
                    </div>
                    <div class="content">
                        <p>When you are ready to publish your article, press the publish button and it will be
                            published.</p>
                        <div class="large-12 columns">
                            <form method="POST">
                                {% csrf_token %}
                                <button class="success button pull-right" type="submit" name="publish">
                                    <i class="fa fa-check-circle">&nbsp;</i>Publish
                                </button>
                            </form>
                        </div>
                    </div>
                    {% if article.date_published %}
                    <div class="title-area">
                        <h2>Frozen Authors</h2>
                    </div>
                    <div class="content">
                        <p>When an article is published the author records are frozen. You can re-order them here.</p>
                        <form method="POST">
                            {% csrf_token %}
                            <table class="small scroll">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Institution</th>
                                    <th>Correspondence Author</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody id="frozen_authors">
                                {% for f_author in article.frozen_authors %}
                                    <tr id="authors-{{ f_author.pk }}">
                                        <td><i class="fa fa-sort"></i></td>
                                        <td>{{ f_author.full_name }}</td>
                                        <td>{{ f_author.author.email }}</td>
                                        <td>{{ f_author.institution }}</td>
                                        <td>{% if f_author.author == article.correspondence_author %}
                                            <i class="fa fa-check"></i>{% else %}<i class="fa fa-times"></i>{% endif %}</td>
                                        <td><a href="?author={{ f_author.pk }}&return={{ return }}"><i
                                                class="fa fa-edit">&nbsp;</i>Edit</a></td>
                                        <td>
                                            <form method="POST">{% csrf_token %}
                                                <button type="submit" name="delete" value="{{ f_author.pk }}"><i
                                                        class="fa fa-trash">&nbsp;</i>Delete
                                                </button>
                                            </form>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </form>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    {% include "elements/production/new_galley.html" %}
{% endblock %}

{% block js %}
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
    <script type="text/javascript" src="{% static "common/js/jq-ui.min.js" %}"></script>
    <script src="{% static "common/js/tagit.js" %}"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#id_keywords").tagit(
                {allowSpaces: true});
        });
    </script>
    {% if modal %}
        {% include "elements/open_modal.html" with target=modal %}
    {% endif %}

    <style>
        .help-text {
            padding-top: 15px;
        }
    </style>
    <script src="{% static "admin/js/csrf.js" %}"></script>
    <link type='text/css' href="{% static "common/css/jq-ui.css" %}" rel="stylesheet">
    <script type="text/javascript" src="{% static "common/js/jq-ui.min.js" %}"></script>
    <script>
        $("#sortable").sortable({
            update: function (event, ui) {
                var data = $(this).sortable('serialize');
                console.log(data);
                // POST to server using $.post or $.ajax
                $.ajax({
                    data: data,
                    type: 'POST',
                    url: '{% url 'submit_authors' article.pk %}'
                });
            }
        });
        $("#sortable").disableSelection();
    </script>
    <script>
        $( "#frozen_authors" ).sortable({
            update: function (event, ui) {
                var data = $(this).sortable('serialize');
                console.log(data);
                // POST to server using $.post or $.ajax
                $.ajax({
                    data: data,
                    type: 'POST',
                    url: '{% url 'order_authors' article.pk %}'
                });
            }
        });
        $( "#frozen_authors" ).disableSelection();
    </script>
{% endblock %}